{% extends "base.html" %}

{% block content %}

<!--

<center>
<div class="table1">
<h1 style="text-align: center;">Login form</h1>
<form method=POST action="/login">
        <input type="text" placeholder="Enter Username" name="username" required> </br>
        <input type="password" placeholder="Enter Password" name="password" required> </br>
        <button type="submit">Login</button></br>
        <button type="button" class="button1"> New here? Signup</button>
</form>   
</div>
</center>

-->

<center>
<div class="table1">

  <h1 style="text-align: center;">Login Form</h1>

<form method=POST action="/login">
      <input type="text" name="username" placeholder="Username"> <br>
      <input type="password" name="pass" placeholder="Password"> <br>
      <button type="submit">Log In</button> <br> <br>
</form>
  <h3>Don't have an account? <a href="/register">Sign Up</a></h3>
</div>

</center>


{% endblock %}