{% extends "base.html" %}

{% block content %}

<center>

<div class="table1">

    <h1 style="text-align: center;">Register with us</h1>

    <input type="text" placeholder="Enter your Username" name="username" required width="30%"> </br>
    <input type="password" placeholder="Enter password" name="password" required> </br>
    <input type="password" placeholder="Enter Password again" name="password" required> </br>
    <button type="submit" class="regbtn">Register</button>
    
</div>    
</center>

{% endblock %}